$basic-yellow: #ffc61a; // rgba(255, 198, 26, 1);

$fa-font-path:        "../assets/webfonts";

/* media queries */
$phone-only:599px; // max
$tablet-portrait1:600px; //min
$tablet-portrait:900px; //min
$desktop:1200px; //min
$big-desktop:1800px; //min